/* FOOTER */
#NavFooter{
    margin-top: 100px;
    margin-bottom: 20px;
}

#NavFooter ul{
    list-style-type: none;
}

#NavFooterh5{
    font-size: 18px;
    text-align: center;
}

#footermid{
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.Footerli{
    color: black;
    font-size: 15px;
    padding: 8px 30px;
    font-weight: 500;
    border-bottom: solid 3px transparent;
}
/* Retour */
.retour {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 20px;
}

.retour i {
    color: rgb(0, 123, 255);
}

/* Media Queries */
/* Medium */
@media only screen and (min-width: 768px) and (max-width: 959px){
    .Footerli{
        padding: 0px 10px;
    }
    #NavFooter ul{
        padding: 0;
    }
}