@font-face {
    font-family: SnackerComic;
    src: url("../fonts/snacker_comic/SnackerComic.ttf");
}

body {
    scroll-behavior: smooth;
}

.container-fluid{
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
    font-family: 'Montserrat', sans-serif;
    
}
.row{
    margin: 0;
    padding: 0;
}

/* HEADER */

.navbar{
    width: 100%;
    background-color: transparent !important;
    position: absolute;
    transition: 0.8s;
    padding: 0;
}

.navbar-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: orange !important; 
    height: 3.5em;
  }

.navbar a {
    color: white !important;
    font-size: 25px;
    padding: 8px 30px !important;
    font-weight: 500;
    text-shadow: 4px 5px 6px black;
    border-bottom: solid 3px transparent;
    transition: 0.8s;
}

.navbar a:hover {
    border-bottom: solid 3px rgb(0, 123, 255);
}


.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-fixed {
    background-color: orange;
}

.dropdown-item:hover {
    background-color: transparent;
}

.navbar-light .navbar-toggler-icon{
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
h1 {
    color: whitesmoke;
    font-family: SnackerComic;
    font-size: 90px;
    text-shadow: -2px 2px 15px rgb(87, 119, 134);
    padding-top: 50px;
}

#btnLogin {
    color: rgb(255, 255, 255);
    border: solid 1px;
    border-radius: 23.6px;
    width: 200px;
    font-size: 15px;
    margin-top: 20px;
}

#btnLogin:hover {
    background-color: rgb(0, 123, 255);
}

header{
    text-align: center;
    margin-bottom: 200px;
    height: 500px;
    background-image: url("../img/logofistiland.jpg");
    border-bottom-left-radius: 100% 35%;
    border-bottom-right-radius: 100% 35%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.356);
    background-blend-mode: overlay;
}

button {
    margin-left: 20px;
    margin-right: 20px;
}

#btnticket:hover, #btnroom:hover {
    background-color: white !important;
    border: solid 1px rgb(0, 123, 255) ;
    color: rgb(0, 123, 255) !important;
    
}

#btnticket, #btnroom{
    color: rgb(255, 255, 255);
    border: solid 1px;
    border-radius: 23.6px;
    width: 200px;
    font-size: 15px;
}

/* FOOTER */

.navfooter{
    margin-top: 100px;
    margin-bottom: 20px;
}

.navfooter ul{
    list-style-type: none;
}

h5{
    font-size: 18px;
    text-align: center;
}

#footermid{
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding: 0%;
    margin: 0;
}

.navfooter a{
    color: black !important;
    font-size: 15px;
    padding: 8px 30px !important;
    font-weight: 500;
    border-bottom: solid 3px transparent;
}

/*MAIN*/
.carousel-item{
    max-height: 400px;
    max-width: 350px;
    min-width: 350px;
    height: 230px;
}

#carouselhotelctrl1{
    min-width: 350px;
    width: 350px;
}

.btnCards {
    color: rgb(255, 255, 255);
    border: solid 1px white;
    border-radius: 23.6px;
    width: 250px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(0, 123, 255);
    margin: 0 32%;
}

.btnCards:hover {
    border: solid 1px rgb(0, 123, 255);
    border-radius: 23.6px;
    color: rgb(0, 123, 255);
    background-color: white;
}

.dealtext {
    position: absolute;
    display: block;
    width: 50%;
    font-size: 2em;
    animation-name: defil;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    bottom: 30px;
 }

 @keyframes defil {
    0%, 25% { left: -100%; opacity: 0; }
    25%,50% { left: 25%; opacity: 1; }
    60%, 100% { left: 50%; opacity: 0; }
}



@media only screen and (min-width: 768px) and (max-width: 959px) {
    .dealtext{
        bottom: 20px;
        font-size: 1.5em;
    }

    #navbarSupportedContent {
        z-index: 1000;

    }
    .navbar-nav {
        background-color: orange !important;
    }
}

@media screen and (max-width: 767px) {

    .dealtext{
        bottom: 20px;
        font-size: 1.5em;
    }
    #navbarSupportedContent {
        z-index: 1000;

    }
.navbar-nav {
    background-color: orange !important;
    }
}





.screamer {
    animation: screamer;
    animation-delay: 5s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    transition: 0.2s;
    opacity: 0;
    position: absolute;
    left: 600px;
}

@keyframes screamer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(3); 
    }
}