@font-face {
    font-family: SnackerComic;
    src: url("../fonts/snacker_comic/SnackerComic.ttf");
}

body {
    scroll-behavior: smooth;
}

.container-fluid{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/transports/bg_transp.jpeg"), linear-gradient(to bottom, rgba(255, 255, 255, 0.300), rgba(255,255,255,1));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
}
.row{
    margin: 0;
    padding: 0;
}

/* HEADER */

.navbar{
    width: 100%;
    background-color: transparent !important;
    position: absolute;
    transition: 0.8s;
    padding: 0;
}

.navbar-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: orange !important; 
    height: 3.5em;
  }

.navbar a {
    color: white !important;
    font-size: 25px;
    padding: 8px 30px !important;
    font-weight: 500;
    text-shadow: 4px 5px 6px black;
    border-bottom: solid 3px transparent;
    transition: 0.8s;
}

.navbar a:hover {
    border-bottom: solid 3px rgb(0, 123, 255);
}


.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-fixed {
    background-color: orange;
}

.dropdown-item:hover {
    background-color: transparent;
}

.navbar-light .navbar-toggler-icon{
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
h1 {
    color: whitesmoke;
    font-family: SnackerComic;
    font-size: 90px;
    text-shadow: -2px 2px 15px rgb(87, 119, 134);
    padding-top: 50px;
}

#btnLogin {
    color: rgb(255, 255, 255);
    border: solid 1px;
    border-radius: 23.6px;
    width: 200px;
    font-size: 15px;
    margin-top: 20px;
}

#btnLogin:hover {
    background-color: rgb(0, 123, 255);
}

header{
    text-align: center;
    margin-bottom: 200px;
    height: 500px;
    background-image: url("../img/planet-coaster3.jpg");
    border-bottom-left-radius: 100% 35%;
    border-bottom-right-radius: 100% 35%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.356);
    background-blend-mode: overlay;
}

button {
    margin-left: 20px;
    margin-right: 20px;
}

#btnticket:hover, #btnroom:hover {
    background-color: white !important;
    border: solid 1px rgb(0, 123, 255) ;
    color: rgb(0, 123, 255) !important;
    
}

#btnticket, #btnroom{
    color: rgb(255, 255, 255);
    border: solid 1px;
    border-radius: 23.6px;
    width: 200px;
    font-size: 15px;
}

/* FOOTER */

.navfooter{
    margin-top: 100px;
    margin-bottom: 20px;
}

.navfooter ul{
    list-style-type: none;
}

h5{
    font-size: 18px;
    text-align: center;
}

#footermid{
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding: 0%;
    margin: 0;
}

.navfooter a{
    color: black !important;
    font-size: 15px;
    padding: 8px 30px !important;
    font-weight: 500;
    border-bottom: solid 3px transparent;
}


/* MAIN */

.carte {
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
}

.card-img-top {
    border-bottom-left-radius: 100% 35%;
    border-bottom-right-radius: 100% 35%;
    max-height: 300px;
    margin-bottom: 30px;
}

.card {
    border-bottom-right-radius: 50% 30%;
    text-align: left;
    transition-duration:  0.8s;
    height: 650px;
}

.card:hover {
    box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.274);
    transform: scale(0.98);
}

@media only screen and (min-width: 768px) and (max-width: 959px){
    .container-fluid{
        overflow-x: hidden;
    }
    h1{
        padding-top: 20px;
    }

    .navbar a, .navbar a:hover{
        border-bottom: transparent;
    }
    .dropdown-menu.show a{
        text-align: center;
    }

    #navbarSupportedContent {
        z-index: 1000;
    }

    .navbar-nav {
        background-color: darkorange !important;
    }

    header{
        border-bottom-left-radius: 100% 15%;
        border-bottom-right-radius: 100% 15%;
        
    }
    .dealtext{
        top: 80px;
    }
    .navfooter a{
        color: black !important;
        font-size: 15px;
        padding: 0px 0px !important;
        font-weight: 500;
        border-bottom: solid 3px transparent;
    }
    .btnCards {
        margin-left: 8px;
    }
    .interContainerGauche {
        width: 100%;
    }
    .interContainerDroite{
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .container-fluid{
        overflow-x: hidden;
    }
    .navbar a, .navbar a:hover{
        border-bottom: transparent;
    }
    .card-img-top{
        margin-bottom: 5px;
    }
    header{
        height: 650px;
        border-bottom-left-radius: 100% 15%;
        border-bottom-right-radius: 100% 15%;
    }

    #navbarSupportedContent {
        z-index: 1000;
    }

    .navbar-nav {
        background-color: darkorange !important;
    }
    .card {
        border-bottom-right-radius: 50% 15%;
        margin-bottom: 10px;
        height: 600px;
    }


    .container {
        margin: 0;
        padding: 0;
    }
}


.trasnportSkew {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px; 
    background-color: white;
    transform: skewY(-6deg);
    border: rgba(255, 140, 0, 0.8) solid 15px;
    margin-bottom: 100px;
}

.unskew {
    transform: skewY(6deg);
    transform-origin: bottom;
}